*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Andika New Basic", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1rem;
  letter-spacing: 0;
  color: #272a31;
  font-style: normal;
}

h1 {
  margin: 0;
  padding: 1rem !important;
  font-size: 1.5rem;
  line-height: 1;
  text-align: left;
}

.task__header,
.todo__form,
.todo__list {
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 2rem;

}

.task__header {
  background-color: #134da2;
  color: #fff;
}

.todo__form {
  border: 1px solid gray;
  position:  relative;
}

input[type=text],
button {
  width: 100%;
  font-family: "Andika New Basic", sans-serif;
  font-size: 1rem;
  color: #272a31;
  background: transparent;
  border: none;
  outline: none;
}

input[type=text] {
  height: 3rem;
  padding: 0 2.5rem 0 1rem;
  line-height: 3rem;
  font-style: italic;
}

input[type=text]:focus {
  outline: none;
  border: none;
}

button {
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.btn__task-remove {
  width: 100%;
  padding: 0;
  cursor: pointer;
}

button svg {
  fill: rgb(161, 161, 161);
}

.btn__task-checklist svg {
  display: none;
  height: 100%;
  fill: #86c555;
}

.btn__task-remove svg {
  height: 1rem;
  fill: #ef3c7b;
}

button:hover {
  text-decoration: underline;
}

button:hover svg {
  fill: #08b9ae;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

ul li {
  width: 100%;
}

.list-item-view {
  width: 100%;
  padding: 1rem 2.5rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.btn__task-remove {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
