@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@100;200;300;400;500;600;700;800;900&display=swap');

$ff: "Truculenta", sans-serif;
$c-base: #272a31;
$c-accent: #134da2;

@mixin font($fs:1.25rem, $fw:400, $lh:1.1rem, $ls:normal, $color: $c-base) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  color: $color;
}
